/* *{
    box-sizing: border-box;
} */

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    /* background-color: linear-gradient(225deg, #3499FF 0%, #3E8AFC 22%, #6454F0 100%) 0% 0% no-repeat padding-box; */
    background-color: #3499FF;
}

.logo{
    width: 100vw;
    text-align: center;
    margin-top: 75px;
}

.main{
    text-align: center;
}

.head{
    /* text-align: center; */
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 200px;
    margin-bottom: 20px;
}

.text{
    color: #EEEEEE;
    font-weight: 300;
    font-size: 25px;
    opacity: 0.9;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;;
}

.form{
    text-align: center;
}

.form > button{
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: 700;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #3A39A5;
}

@media (max-width:1050px){
    .head{
        margin-left: 40px;
        margin-right: 40px;
        font-size: 75px;
        margin-top: 300px;
        margin-bottom: 10px;
    }
    .text{
        font-size: 40px;
        margin-bottom: 150px;
    }

    .form > button{
        padding-bottom: 30px;
        padding-top: 30px;
        padding-right: 40px;
        padding-left: 40px;
        font-size: 28px;
    }
}

@media (max-width:800px){
    .head{
        margin-left: 25px;
        margin-right: 25px;
        font-size: 70px;
        margin-top: 200px;
        margin-bottom: 10px;
    }
    .text{
        font-size: 35px;
        margin-bottom: 100px;
    }

    .form > button{
        padding-bottom: 30px;
        padding-top: 30px;
        padding-right: 40px;
        padding-left: 40px;
        font-size: 28px;
    }
}

@media (max-width:500px){
    .head{
        margin-left: 15px;
        margin-right: 15px;
        font-size: 37px;
        margin-top: 150px;
        margin-bottom: 10px;
    }
    .text{
        font-size: 20px;
        margin-bottom: 75px;
    }

    .form > button{
        padding-bottom: 15px;
        padding-top: 15px;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 16px;
    }
}

@media (max-width:400px){
    .head{
        margin-left: 15px;
        margin-right: 15px;
        font-size: 35px;
        margin-top: 100px;
        margin-bottom: 10px;
    }
    .text{
        font-size: 20px;
        margin-bottom: 75px;
    }
}


@media (max-width:350px){
    .head{
        margin-left: 15px;
        margin-right: 15px;
        font-size: 27px;
        margin-top: 100px;
        margin-bottom: 10px;
    }
    .text{
        font-size: 16px;
        margin-bottom: 50px;
    }
    
}


